h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.download {
    color: aquamarine;
    font-size: 16px;
}


h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.end {
    text-align: right;
    color: gray;
}

body {
    background-color: black;
    text-align: center;
}
